<div class="nav">
  <div class="ui equal width center aligned padded grid">
    <div class="eight wide column ">
      <a href="/">
        <h1>
          <%= blog.title %>
        </h1>
      </a>
      <p>
        <%= blog.description %>
      </p>
    </div>
  </div>
</div>