<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= blog.title%>
    </title>
    <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/blogstyle.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
</head>

<body>

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="https://semantic-ui.com/examples/assets/images/logo.png" class="image">
                <div class="content">
                    注册成功！请到您的邮箱 <%= email %> 中去激活账号！
                </div>
            </h2>
        </div>
    </div>

</body>

</html>