<%- include('header') %>

  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <form action="/signin" class="ui form segment" method="POST">
        <div class="field required">
          <label>用户名</label>
          <% if(username){%>
            <input placeholder="用户名" type="text" name="name" value="<%=username%>">
          <%}else{%>
            <input placeholder="用户名" type="text" name="name" value="">
          <%}%>
        </div>
        <div class="field required">
          <label>密码</label>
          <input placeholder="密码" type="password" name="password" value="">
        </div>
        <input type="submit" class="ui button fluid" value="登录">
      </form>
    </div>
  </div>

  <%- include('footer') %>