<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>重置密码</title>
  <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/blogstyle.css">
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
</head>

<body>

  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <form class="ui form" method="post" action="<%= value.resetPasswordURL%>">
        <div class="field">
          <input type="text" name="userId" value="<%= value.userId%>" hidden>
          <input placeholder="密码" type="password" name="password" value="">
        </div>
        <button class="ui button" type="submit">重置</button>
      </form>
    </div>

    <%- include('footer') %>