extends ../layout

//script(type='text/javascript', src='./submit_filepath')
block content
    form.form-signin(action='/download_form', method='post')
        h2.form-signin-heading DOWNLOAD FILES
        input.input-block-level(type='text', placeholder='file path',
        name='filepath')
        button.btn.btn-large.btn-primary(id='download', type='submit')
            | DOWNLOAD